
.NE1 {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500;
  color: #fff6a9 !important ;
}

.NE2{
  text-shadow: 0 0 5px #ff1493, 0 0 15px #ff1493;
  color: #ffbbf8 !important ;
}

.NE3{
  text-shadow: 0 0 5px #00FFFF, 0 0 15px #00FFFF;
  color: #cbfcff !important ;
}

.NE4{
  text-shadow: 0 0 5px #008000, 0 0 15px #008a00;
  color: #ccfecc !important ;
}

.NE5{
  text-shadow: 0 0 5px #FF0000, 0 0 15px #FF0000;
  color: #ffcbd2 !important;
}

.NE6 {
  text-shadow: 0 0 5px #aaccff, 0 0 15px #aaccff;
  color: #ff1d58!important ;
}

.NE7{
  text-shadow: 0 0 5px #ffbbf8, 0 0 15px #ffbbf8, 0 0 35px #ffbbf8;
  color: #ff1493 !important ;
}

.NE8{
  text-shadow: 0 0 5px #d6ffff, 0 0 15px #d6ffff,0 0 35px #d6ffff;
  color: #0077ff !important ;
}

.NE9{
  text-shadow: 0 0 5px #ccfecc, 0 0 15px #ccfecc, 0 0 35px #ccfecc;
  color: #008a00 !important ;
}

.NE10{
  text-shadow: 0 0 5px #ffcbd2, 0 0 15px #ffcbd2,0 0 35px #ffcbd2;
  color: #FF0000 !important;
}

.NE11 {
  text-shadow: 0 0 5px #9114ff, 0 0 15px #9114ff;
  color: #dabbff !important;
}


.BG1{
  background-color: #b0d4d4;
}
