@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

.NE1 {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500;
  color: #fff6a9;
}

.NE2{
  text-shadow: 0 0 5px #ff1493, 0 0 15px #ff1493;
  color: #ffbbf8;
}

.NE3{
  text-shadow: 0 0 5px #00FFFF, 0 0 15px #00FFFF;
  color: #d6ffff;
}

.NE4{
  text-shadow: 0 0 5px #008000, 0 0 15px #008a00;
  color: #ccfecc;

}

.NE5{
  text-shadow: 0 0 5px #FF0000, 0 0 15px #FF0000;
  color: #ffcbd2;
}

.BG1{
  background-color: #b0d4d4;
}
